.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #5daedf;
  min-height: 5rem;
  width: 100%;
}
.header {
  align-items: start;
  display: flex;
  margin-left: 3rem;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid black 1px;
  width: 100%;
  height: 100%;
  background: black;
}

.person-display {
  display: flex;
  /* justify-content: start; */
  /* align-items: start; */
  flex-direction: column;
  width: 75%;
  height: 65%;
  background-color: #f5f5f4;
  padding: 3rem;
  border-radius: 5px;
}

.count {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */
  /* align-items: end; */
  position: absolute;
  left: 100rem;
}

.general {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  /* border: solid black 1px; */
  font-size: 1.2rem;
  /* position: relative; */
}

.fullname {
  border-bottom: #5daedf solid 2px;
}

.favorite {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 7rem;
  background-color: transparent;
  border: none;
  color: white;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}

.favorite__movies {
  margin: 0.4rem;
  margin-left: 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
